name: Run Tests

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checks out your repository's code so the workflow can access it
      - name: Check out repository code
        uses: actions/checkout@v4

      # Step 2: Sets up the Python language on the virtual machine
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Run tests
        run: python -m unittest discover tests